@import "../../../styles/variables.scss";

.form-wrapper {
  padding: 30px 30px 15px 30px;
  user-select: none;

  form {
    display: flex;
    max-height: 400px;
    overflow-y: auto;
    flex-direction: column;
  }
}
